/* src/styles/global.css */

/**
 * Fichier CSS global.
 * 
 * Inclut les directives Tailwind pour les bases, les composants et les utilitaires.
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
/* Masquer les flèches par défaut sur Chrome, Safari, Edge, et Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Masquer les flèches par défaut sur Firefox */
.no-spinner {
  -moz-appearance: textfield;
}